h1{
  color: teal;
}
#phone{
  text-decoration: underline;
}
.container h2{
  background-color: teal;
  width: 300px;
  color: white;
}
.annee{
  font-weight: bold;
  text-shadow: 2px 2px 2px grey;
}
.lieu{
  color: teal;
  font-style: italic;
}
